table {
    border-collapse: collapse;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    background-color:aqua;
}

#humanBoard td.ship {
    background-color: gray;  /* When a ship is placed */
}

td.hit {
    background-color: orange;  /* When a ship cell is hit */
}

td.miss {
    background-color: darkblue;  /* When an attack missed */
}

td.sunk {
    background-color: red;  /* When a ship is fully sunk */
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: start; 
    gap: 2rem; /* Adjust as necessary */
}


/* For square cells */
.board td::before {
    content: "";
    display: block;
    padding-top: 100%;  /* for square cells */
}

.victory-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
  z-index: 1000;
}
